
@{
    ViewBag.Title = "South West CCAC Job Aide - Editor";
}

<h3 class="text-center">South West CCAC Job Aide</h3>
<hr />
<h4 class="text-center">Outbreak Status Report - Editor</h4>

<br />

<blockquote>
    <p>The Outbreak Status Report application is used to communicate outbreaks across the SW CCAC.</p>
</blockquote>

<h4>Adding an Outbreak Report</h4>

<p>
    To add a new Outbreak report, navigate to the Outbreak Status Report application and click <strong>New Outbreak</strong>.
    The <strong>New Outbreak</strong> page will appear.
</p>

<p>
    In the <strong>Facility Name</strong> field, type the name of the facility. If the outbreak affects a certain area of the facility,
    type the area in the <strong>Outbreak Location</strong> field. Select the facility type from the drop down list. Type the name of the pathogen
    that caused the outbreak in the <strong>Pathogen</strong> field.
</p>

<blockquote>
    <p>As you begin to type in a text box, the application will display previous entries that match your text.  Click the entry from the list to select it.</p>
</blockquote>

<p>
    Click to select the county of the facility. To record the date the outbreak was declared,
    click the <strong>Outbreak Declared Date</strong> calendar icon and click the date.
</p>

<p>
    If admitting is closed, click the <strong>Is Admitting Closed</strong> checkbox. Two new fields will appear.
    Click the <strong>Admissions Close Date</strong> calendar icon and click to record the date that admissions closed.
</p>

<p>
    Type comments or brief details in the Comments box. Click <strong>Save</strong>.
</p>

<hr />

<img src="~/Content/images/new_outbreak.png" class="img-responsive" alt="New Outbreak">

<hr />

<h4>Updating an Outbreak Report</h4>

<p>
    Outbreak reports are shown in a list view. As new information regarding an outbreak is received, the report can be updated.
    To add information or edit the report, click the line item from the Outbreaks list.
    <hr />
    <img src="~/Content/images/outbreak_list_item.png" class="img-responsive" alt="Outbreak List Item">
    <hr />
</p>

<p>
    If the outbreak is over, click the <strong>Outbreak Declared Over</strong> checkbox. A new <strong>Outbreak Declared Over Date</strong> field will appear.
    Click the calendar icon and click the date to record when the outbreak was declared over.
    <hr />
    <img src="~/Content/images/outbreak_declared_over.png" class="img-responsive" alt="Outbreak Declared Over">
    <hr />
</p>

<p>
    If admitting was closed and the facility is now allowing admissions, click the <strong>Is Admitting Reopened</strong> checkbox.
    A new <strong>Admissions Reopened Date</strong> field will appear. Click the calendar icon and click the date to record when the facility
    re-opened to admissions. Click <strong>Save</strong>.
    <hr />
    <img src="~/Content/images/edit_outbreak_admitting_2.png" class="img-responsive" alt="Outbreak Declared Over">
    <hr />
</p>