
@{
    ViewBag.Title = "South West CCAC Job Aide";
}

<h3 class="text-center">South West CCAC Job Aide</h3>
<hr />
<h4 class="text-center">Disease Outbreak Tracking System</h4>

<br />

<blockquote>
    <p>The disease outbreak tracking system is used to communicate outbreaks across the SW CCAC.</p>
</blockquote>

<h4>Disease Outbreak Tracking System</h4>
<p>
    Navigate to the Disease Outbreak Tracking System. The main list view shows all outbreaks that have been reported.
</p>

<blockquote>
    <p>For ease of use, facilities are grouped by county.</p>
</blockquote>

<hr />
<img src="~/Content/images/outbreak_list.png" class="img-responsive" alt="outbreak list">
<hr />

<p>For each outbreak report the following information is shown:</p>

<ul>
    <li>The facility name;</li>
    <li>The area of the facility that is in outbreak;</li>
    <li>The date that the outbreak was declared or the date that the outbreak was declared over;</li>
    <li>The date and admission status of the facility (whether admissions are closed or open);</li>
    <li>The number of days since the outbreak was declared or the duration of the outbreak; and</li>
    <li>The pathogen that closed the facility.</li>
</ul>

<p>Each list item’s left margin is colour coded to communicate the following:</p>

<ul>
    <li>Green – the outbreak is over;</li>
    <li>Blue – the outbreak has been active for less than 15 days;</li>
    <li>Yellow – the outbreak has been active for more than 15 days and less than 30 days; and</li>
    <li>Red – the outbreak has been active for more than 30 days.</li>
</ul>

<p>Information regarding outbreaks is updated as soon as it is received. Please check this application regularly to ensure you have the most up to date information.</p>

<blockquote>
    <p>Oubreak reports will remain on the list for 7 days after the outbreak is declared over.  After a period of 7 days, the notification will drop off of the list.</p>
</blockquote>