
@{
    ViewBag.Title = "South West CCAC Job Aide - Updater";
}

<h3 class="text-center">South West CCAC Job Aide</h3>
<hr />
<h4 class="text-center">Outbreak Status Report - Updater</h4>

<br />

<blockquote>
    <p>The Outbreak Status Report application is used to communicate outbreaks across the SW CCAC.</p>
</blockquote>

<h4>Updating an Outbreak Report</h4>

<p>
    Outbreak reports are shown in a list view. To update an outbreak report, navigate to the <strong>Outbreak Status Report</strong> application and click the line item from the <strong>Outbreaks</strong> list.
    <hr />
    <img src="~/Content/images/outbreak_list_item.png" class="img-responsive" alt="Outbreak List Item">
    <hr />
</p>

<p>
    If the facility has closed their admissions, click the line item from the list and click the Is Admitting Closed checkbox. A new Admissions Close Date field will appear. Click the calendar icon and click the date that the facility closed to admissions. Click Save.
    <hr />
    <img src="~/Content/images/edit_outbreak_admitting.png" class="img-responsive" alt="Edit Outbreak Admitting">
    <hr />
</p>

<h4>Updating a Facility that is Re-opening Admissions</h4>

<p>
    If the facility was previously closed to admissions, but is now re-opening, click the line item from the list and click the <strong>Is Admitting Reopened</strong> checkbox. A new <strong>Admissions Reopened Date</strong> field will appear. Click the calendar icon and click the date that the facility reopened to admissions. Click <strong>Save</strong>.
    <hr />
    <img src="~/Content/images/edit_outbreak_admitting_2.png" class="img-responsive" alt="Edit Outbreak Admitting">
    <hr />
</p>