@{
    ViewBag.Title = "Outbreak Not Found";
}

<div class="row">
    <div class="col-md-12">
        <br /><br /><br /><br /><br />
        <h1 class="text-center text-warning">Sorry, the Outbreak you are looking for does not exist! :(</h1>
        <br /><br /><br /><br /><br />
    </div>
</div>

